/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/*impostazioni header e nav*/

.container{
    background-color: #ff691ef1;
    max-width: 1400px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(128, 128, 128);    
}

.row-nav{
    height: 30px;
    width: 70%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col-type{
    width: 20%;
    height: 100%;    
    display: inline-block;
}

.col-logo{
    width: 60%;
    height: 100%;
    position: relative;
}

.logo{
    height: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.col-login{
    width: 20%;
    height: 100%;    
    display: inline-block;
    text-align: right;
    position: relative;
    
}

.login{
    width: 13px;
    height: 13px;
    margin-left: 5px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    top: 50%;
    transform: translate(0%, 50%);
}  

/*impostazioni prima sezione main*/

.container-product-card{
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}

.row-product-card{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.col-card{
    width: calc(100% / 3 - 10px);
    margin-top: 40px;
    position: relative;
}

.image{
    width: 100%;
    height: fit-content;
}

/*impostazioni nav del footer*/

.container-nav-footer{
    background-color: #23272a;
    max-width: 1400px;
    height: 100px;
    display: flex;
    margin: 0 auto;
} 

.row-nav-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #7fffd4;
    height: 75px;
    margin-bottom: 0;
    align-items: center;
}

.col-heading{
    border: 1px dashed black;
    width: fit-content;
    height: fit-content; 
    background-color: #ffb6c1;
    padding: 5px;
}

span{
    display: block;
}

/*impostazioni link e lista*/

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.item-nav-link{
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
    color: white;
}

/*impostazioni etichette ed hover*/

.heart{
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    font-size: 25px;
    right: 0;
    top: 5px;
    padding-left: 10px;
    padding-top: 3px;
}

.heart:hover, .heart:active {
    color: red;
}

.image-one:hover, .image-one:active {
    content: url(../img/1b.webp);
}

.image-two:hover, .image-two:active {
    content: url(../img/2b.webp);
}

.image-three:hover, .image-three:active {
    content: url(../img/3b.webp);
}

.image-four:hover, .image-four:active {
    content: url(../img/4b.webp);
}

.image-five:hover, .image-five:active {
    content: url(../img/5b.webp);
}

.image-six:hover, .image-six:active {
    content: url(../img/6b.webp);
}
