/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    background-color: #ffad1e;
    max-width: 1400px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #a0c8df;    
}

.row-nav{
    background-color: #55da20;
    height: 30px;
    width: 70%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col-type{
    border: 1px dashed black;
    width: 20%;
    height: 100%;    
    display: inline-block;
}

.col-logo{
    text-align: center;
    border: 1px dashed black;
    width: 60%;
    height: 100%;    
}

.col-login{
    border: 1px dashed black;
    width: 20%;
    height: 100%;    
    display: inline-block;
    text-align: right;
}

/*impostazioni prima sezione main*/

.container-product-card{
    background-color: #00008b;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}

.row-product-card{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.col-card{
    height: 430px;
    width: calc(100% / 3 - 10px);
    background-color: #ee82ee;
    border: 1px dashed black;    
    margin-top: 40px;
}

/*impostazioni nav del footer*/

.container-nav-footer{
    background-color: #23272a;
    max-width: 1400px;
    height: 100px;
    display: flex;
    margin: 0 auto;

} 

.row-nav-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #7fffd4;
    height: 75px;
    margin-bottom: 0;
    align-items: center;
}

.col-heading{
    border: 1px dashed black;
    width: fit-content;
    height: fit-content; 
    background-color: #ffb6c1;
    padding: 5px;
}

span{
    display: block;
}

/*impostazioni link e lista*/

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.item-nav-link{
    margin-top: 5px;
}
